body {
    background-color: #edefee;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav li {
    display: inline-block;
}

section {
    display: flex;
    padding: 2rem;
}

section:nth-of-type(2) { background-color: lightblue; }

@media (max-width: 1000px) {
    section {
        flex-direction: column;
    }
}

article {
    flex: 1;
}

footer {
    display: flex;
}

footer div {
    flex: 1;
}
